
/**/
:root {
    --accent-color: #2196F3;
    --main-color: #212121;
    --add-color: #757575;
    --title-color: #212121;
    --background-clr: #FFFFFF;
    --add-bckgrnd-clr: #F5F4FA;
}
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {}

.header-nav {}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.header-logo-part {
    color: var(--main-color);
}

.header-list {}

.header-item {}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
}
.header-link:hover, 
.header-link:focus, 
.header-email:hover, 
.header-email:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

.header-link.link.current {
    color: var(--accent-color)
}

.header-contacts-list {}

.header-contacts-item {}

.header-email {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--add-color);
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--add-color);
}
.hero {
    background-color:#2F303A;;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.hero-btn:hover, .hero-btn:focus {
    background: #188CE8;
}
.features-list {}

.features-item

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-color);
}

.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: var(--add-color);
}

.job {}

.job-title, .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-color);
}

.job-list {}

.job-item {}

.team {
    background: var(--add-bckgrnd-clr);
}

.team-title {}

.team-list {}

.team-item {
    background: var(--background-clr);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--main-color);
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--add-color);
}

.footer {
    background: #2F303A;
}

.footer-logo-part {
    color: #FFFFFF;
    }
}

.address {}

.googlemap {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: #FFFFFF;
    font-style: normal;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus,
.googlemap:hover,
.googlemap:focus {
    color: var(--accent-color);
}

.footer-list {}

.footer-item {}

.footer-mail {}

.footer-tel {}

/* ---------------ПОРТФОЛИО--------------- */

.filters-list {}

.filters-item {}

.filters-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.62;
    color:var(--main-color);
    background: var(--add-bckgrnd-clr);
    border-radius: 4px;
    cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
    color: #FFFFFF;
    background: var(--accent-color);
}
.filters-btn.current-filter {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.examples {}

.examples-item {
    background: var(--background-clr);
    border: 1px solid #EEEEEE;
}

.examples-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.examples-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--add-color);
}
